<header>
    <ul class="flex items-center justify-between">
        <li aria-label="words logo"> 
            <span class="text-words-secondary text-2xl first-letter:text-3xl first-letter:text-words-primary first-letter:font-niconne first-letter:font-medium block">    
                Words
            </span>
        </li>
        <li>
            <app-navbar></app-navbar>
        </li>
        <li>
            <span class="text-words-secondary relative after:absolute after:w-[18px] after:h-[14px] after:bg-words-primary after:-left-[12px] after:top-1/2 after:-translate-y-1/2 after:z-[-1] z-10 before:absolute before:w-8 before:h-5 before:bg-words-primary-darker before:-left-2 before:top-1/2 before:-translate-y-1/2 before:z-[-1]">    
                Contact Us
            </span>
        </li>
    </ul>
</header>
