<section class="flex flex-col h-full gap-[5em] sm:gap-[1em] min-h-[inherit]">
    <app-header></app-header>
    <div class="flex-1 pb-14 flex flex-col gap-8 justify-center">
        <h1 class="text-5xl sm:text-6xl text-words-secondary font-medium leading-[100%]">
            Collect all new words 
            <br />
            In <span class="text-words-primary"> one place </span>
        </h1>

        <p class="text-base sm:text-lg text-words-neutral-20 leading-[20px]">
            This is a personal website for save and manage all new English words to mimorize it.
            <br/>
            <span>
                Hope this will make any progress 😁️
            </span>
        </p>
        <div class="flex items-center gap-6"> 
            <div class="flex items-center gap-2"> 
                <span class="text-4xl sm:text-5xl text-words-secondary font-medium">
                    42<span class="text-words-primary">K</span>
                </span>
                <span class="text-words-neutral-20 flex flex-col">
                    <span class="leading-[18px]">saved</span> 
                    <span class="leading-[18px]">words</span>
                </span>
            </div>
            <span class="ml-3 text-base sm:text-lg text-words-secondary relative after:absolute after:w-[18px] after:h-[14px] after:bg-words-primary after:-left-[12px] after:top-1/2 after:-translate-y-1/2 after:z-[-1] z-10 before:absolute before:w-7 before:h-5 before:bg-words-primary-darker before:-left-2 before:top-1/2 before:-translate-y-1/2 before:z-[-1]">    
                See words
            </span>
        </div>
    </div>
</section>